language: python
install: "pip install -r requirements.txt"
services:
  - postgresql
before_script:
  - psql -c 'create database peloton_test;' -U postgres
# command to run tests
script: nose2 -s projecttest -t .